node_modules
npm-debug.log
vendor
.env
.git
.gitignore
.gitattributes
.editorconfig
.DS_Store
Thumbs.db
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
